<div class="header" style="display: inline-block;">
	<h1 style="display: inline-block; margin-right: 300px;"> Welcome, <%= @user.first_name %></h1>
	<a style="margin-right: 20px;" href="/events"> Event Dashboard </a>
	<a href="/users/logout"> Log Out </a>

<div style="">
<h3> Name: <%= @events.name %> </h3>
<h4> Host: <%= @events.user.first_name%> </h4>
<h4> Date: <%= @events.date %> </h4>
<h4> Location: <%= @events.location %> </h4>
<h4> People who are joining this event: <%= @events.users.length + 1 %></h4>
<table>
<tr>
	<th> Name</th>
	<th> Location </th>
	<th> State </th>
</tr>
<tr>
	<td> <%= @events.user.first_name %> </td>
	<td> <%= @events.user.location %> </td>
	<td> <%= @events.user.state %> </td>
</tr>
<% @user_event.each do |usevent| %>
<tr>
	<td> <%= usevent.user.first_name %> </td>
	<td> <%= usevent.user.location %> </td>
	<td> <%= usevent.user.state %> </td>
</tr>
<% end %>
</table>
</div>
<div style="display: inline-block; vertical-align: top;">



	<form>
	<form action="/comments/create/:id/:event_id%>" method="POST">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
	<p> Add Comment: </p>
	<input type="text" name="comment">
	<input type="submit" value="Create">
	</form>
</div>
